.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate {
  transition: all 0.3s,
}

.animateWH {
  transition:width 0s, height 0.3s, transform 0.3s;
}

.animateActivityList {
  max-height: 20vw; /* Set this to your maximum expected height */
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.transition-height {
  transition-property: max-height;
}